<!DOCTYPE html>
<html lang="en">

<head>
 <title>Call App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<h3>Call App in Android</h3>
<form id="main" method="post">
  <button type="button" id="callApp">Call App</button>
</form>
<div id="messages">
</div>

<form id="new-message">
    <input id="message-text" type="text" />
    <input type="submit" value="Send">
</form>

<script src="@routes.Assets.versioned("javascripts/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/callApp.js")" type="text/javascript"></script>
</body>
</html>

